<span appShark>Fin!</span>

<div>Element 1</div>
<span #inputElem *ngIf="ToViewSpan">Not Updated/</span>

<div>Element 2</div>
<span #inputElem2>Not Updated/</span>

<div>Child Element</div>
<app-child-component></app-child-component>

<app-multiple-child></app-multiple-child>
<app-multiple-child></app-multiple-child>
<app-multiple-child></app-multiple-child>

<ng-template #templateRef>
    <span> I m inside Template. </span>
</ng-template>

<ng-container #container></ng-container>

<!-- Another Way of adding ng Template-->
<ng-container *ngTemplateOutlet="templateRef"></ng-container>

<ng-container *ngComponentOutlet="host"></ng-container>